.Home {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0 30px 20px;
  width: calc(100vw - 80px);
  height: 100%;
  background: url("../../assets/FeaturedCoverImage.png") no-repeat;
  background-position: center;
  background-size: cover;

  .movieDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #f1f1f1;

    p {
      margin: 10px 0;
      font-size: 20px;
    }

    .category {
      color: #858688;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 500;
      font-size: 20px;
    }

    img {
      width: 600px;
    }

    .description {
      max-width: 600px;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      button {
        width: 150px;
        padding: 15px;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      .play {
        background: white;
        color: #0c0c0c;
      }

      .play:hover {
        box-shadow: 0px 0px 20px white;
      }

      .info {
        background: transparent
          linear-gradient(128deg, #2727f5 0%, #001671 100%) 0% 0% no-repeat
          padding-box;
        color: #f1f1f1;
      }

      .info:hover {
        box-shadow: 0px 0px 20px #2727f5;
      }
    }
  }
}
